version: "2"
services:
  psywerx:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
     - "127.0.0.1:8000:8000"
    volumes:
     - ".:/app"
    links:
     - db
  db:
    image: mysql:5.6.36
    ports:
     - "127.0.0.1:3306:3306"
    environment:
     - MYSQL_ROOT_PASSWORD=root
