version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7-jessie-browsers

    steps:
      - checkout 
      
      - run:
          command: sudo pip install -r requirements.txt
      
      - run:
          command: pylint irc web urls.py settings.py
