{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <p>
    We are a small group of friends with a passion for programming. We like experimenting with new technology and learning new things. On our days off we try to make up as many fun ideas as possible which we then try to implement. We love weekend projects. Our goal in life is to make something new or useful or both!{{settings.description|safe}}
  </p>
  <p class = "text-center">
    <small>#psywerx on freenode</small>
  </p>
</div>
{% endblock %}
