{% extends "layout.html" %}

{% block content %}
<form method="post" action="/irc/">
{% csrf_token %}
	<div class="irc-search"><input type="text" placeholder="Search" name="term"/><input type="submit" name="search" value="Search" /></div>
</form>
<div class="gird_12 inner" id="irc">
	
	<div class="grid_4" id="irc-links">
	<div>
	<h1>Latest links:</h1>
	
	{% for l in links.object_list %}
	<div class="irc-links-content">
	<a href="{{l.link}}" title="{{l.irc.nick}}: {{l.irc.message}}">{{ l.link|slice:":40" }}</a>
	</div>
	{% endfor %}	
	
	{% if links.has_next %}
	<div class="irc-paginator"><a href="/irc/{{log.number}}/{{links.next_page_number}}">Older</a></div>
	{% endif %}
	
	{% if links.has_previous %}
	<div class="irc-paginator"><a href="/irc/{{log.number}}/{{links.previous_page_number}}">Newer</a></div>
	{% endif %}
	
	</div>
	</div>


	{% for l in log.object_list %}
	

	{% if l.msg_type == 'J' %}
	<div class="irc-event"><div class="irc-date">({{l.time|date:"d.m.y @ H:i"}})</div><span class="irc-nick">{{l.nick}}</span> joined</div>
	{% endif %}
	
	{% if l.msg_type == 'P' %}
	<div class="irc-event"><div class="irc-date">({{l.time|date:"d.m.y @ H:i"}})</div><span class="irc-nick">{{l.nick}}</span> parted</div>
	{% endif %} 
	
	{% if l.msg_type == 'Q' %}
	<div class="irc-event"><div class="irc-date">({{l.time|date:"d.m.y @ H:i"}})</div><span class="irc-nick">{{l.nick}}</span> quit: {{l.message}}</div>
	{% endif %} 
	
	{% if l.msg_type == 'T' %}
	<div class="irc-event"><div class="irc-date">({{l.time|date:"d.m.y @ H:i"}})</div><span class="irc-nick">{{l.nick}}</span> changed the topic to {{l.message}}</div>
	{% endif %} 
	
	{% if l.msg_type == 'N' %}
	<div class="irc-event"><div class="irc-date">({{l.time|date:"d.m.y @ H:i"}})</div><span class="irc-nick">{{l.nick}}</span> is now known as {{l.message}}</div>
	{% endif %} 

	{% if l.msg_type == 'M' %}
	
		{% if l.msg_action %}
		<div class="irc-action"><div class="irc-date">({{l.time|date:"d.m.y @ H:i"}})</div><span class="irc-nick">{{l.nick}}</span> {{l.message}}</div>
		
		{% else %}
		
		<div class="irc-message">
		<div class="irc-date">({{l.time|date:"d.m.y @ H:i"}})</div><span class="irc-nick">{{l.nick}}</span>: {{l.message}}
		</div>
		
		{% endif %}
	

	{% endif %}
	{% endfor %}
	<div style="clear:both"></div>
	{% if log.has_next %}
	<div class="irc-paginator"><a href="/irc/{{log.next_page_number}}/{{links.number}}">Older</a></div>
	{% endif %}
	
	{% if log.has_previous %}
	<div class="irc-paginator"><a href="/irc/{{log.previous_page_number}}/{{links.number}}">Newer</a></div>
	{% endif %}
</div>
{% endblock %}
