{% extends "layout.html" %}

{% block content %}
<div class="row">
<div class="col-md-12">
<form method="post" action="/irc/">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name="term">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" name="search" value="Search">Go!</button>
    </span>
  </div>
</form>
</div>
<div class="col-md-8">
<h3>Log</h3>
{% for l in log.object_list %}

<div class="irc-event {% if l.msg_type == 'M' %}irc-m{% endif %}">
  <span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="left" title="{{l.time|date:"d.m.y @ H:i"}}"></span>
  <span class="irc-nick">{{l.nick}}</span>
  {% if l.msg_type == 'J' %}
  joined
  {% endif %}

  {% if l.msg_type == 'P' %}
  parted
  {% endif %}

  {% if l.msg_type == 'Q' %}
  quit: {{l.message}}
  {% endif %}

  {% if l.msg_type == 'T' %}
  changed the topic to {{l.message}}
  {% endif %}

  {% if l.msg_type == 'N' %}
  is now known as {{l.message}}
  {% endif %}

  {% if l.msg_type == 'M' %}

    {% if l.msg_action %}
      ACTION {{l.message}}
    {% else %}
      {{l.message}}
    {% endif %}

  {% endif %}
</div>
{% endfor %}
<div style="clear:both"></div>
{% if log.has_next %}
<div class="irc-paginator"><a href="/irc/{{log.next_page_number}}/{{links.number}}">Older</a></div>
{% endif %}

{% if log.has_previous %}
<div class="irc-paginator"><a href="/irc/{{log.previous_page_number}}/{{links.number}}">Newer</a></div>
{% endif %}
</div>
<div class="col-md-4">
  <div>
  <h3>Latest links</h3>

  {% for l in links.object_list %}
  <div class="irc-links-content">
  <a href="{{l.link}}" title="{{l.irc.nick}}: {{l.irc.message}}">{{ l.link|slice:":40" }}</a>
  </div>
  {% endfor %}

  {% if links.has_next %}
  <div class="irc-paginator"><a href="/irc/{{log.number}}/{{links.next_page_number}}">Older</a></div>
  {% endif %}

  {% if links.has_previous %}
  <div class="irc-paginator"><a href="/irc/{{log.number}}/{{links.previous_page_number}}">Newer</a></div>
  {% endif %}

  </div>
  <div>
  <h3>Karma stats</h3>
  <h4>This week:</h4>
  {% for k in karma_week %}
  {{ k.nick }} {{k.karma}}<br />
  {% endfor %}
  <h4>This month:</h4>
  {% for k in karma_month %}
  {{ k.nick }} {{k.karma}}<br />
  {% endfor %}
  <h4>All time:</h4>
  {% for k in karma %}
  {{ k.nick }} {{k.karma}}<br />
  {% endfor %}
  </div>
  <h3>Database dump</h3>
  <a href="/irc/dump">Dump</a>
</div>
</div>
{% endblock %}
