<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{SITE_TITLE}}{% endblock %}</title>
  <meta name="description" content="A group of geeks">
  <meta name="author" content="smotko">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/site_media/css/style.css?v=2">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-header">
          <h1>{% block title-header %}{{SITE_TITLE}}{% endblock %}</h1>
  <!--
  <div title="Vesele praznike" style="z-index:666;position:absolute;top:10px; right:20px;background-image:url(/site_media/img/santa.gif);width:87px;height:87px;"></div>
  -->
      </div>
      <div class="col-md-12">
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-md-12 text-center">
        {% block footer %}{{SITE_FOOTER|safe}}{% endblock %}
      </div>
    </div>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $('[data-toggle="tooltip"]').tooltip();
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4205070-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
