<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/site_media/reset.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/site_media/960.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/site_media/site.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header-bg">
	<div class="container_12">
		<div class="grid_12"  id="header-txt">
		<h1></h1>
		</div>
	</div>
</div>
<div class="container_12">
<div class="grid_12" id="content">
{% block content %}
{% endblock %}
</div>
</div>

</body>
</html>