<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{{SITE_TITLE}}{% endblock %}</title>
    <link href="/site_media/reset.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/site_media/960.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/site_media/site.css" rel="stylesheet" type="text/css" media="screen" />   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/site_media/script.js"></script>
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-4205070-4']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
    </script>
</head>
<body>
<div class="wrapper">
	<div id="header-bg">
		<div class="container_12">
			<div class="grid_12"  id="header-txt">
			<h1 class="shadow-dark" id="header-h">{% block title-header %}{{SITE_TITLE}}{% endblock %}</h1>

			</div>
		</div>
	</div>
	<div class="container_12" id = "content">	   
			{% block content %}
			{% endblock %}
	</div>
<div class="push"></div>
</div>

<div  id="footer" class="footer">
<div class="container_12">
<div class="grid_12">
{% block footer %}{{SITE_FOOTER|safe}}{% endblock %}

</div>
</div>
</div>

</body>
</html>
