/* http://colorschemedesigner.com/#0011T1BsOw0w0 */

/*
E6DADA  ACA6A6  954747  F2E9E9  F2ECEC
*/
@CHARSET "UTF-8";

* {
	font-family: arial, serif;
}

html,body {
	height: 100%;
	background-color: #F2ECEC;
	line-height: 22px;
	font-size: 16px;
}

a {
	color: #954747;
	text-decoration: none;
	text-shadow: 0 1px 0px white;
	font-weight: bold;
}

h1 {
	font-family: 'Ubuntu', arial, serif;
}

.header-bg {
	background-color: #954747;
	background-image: url(/site_media/img/29-a.png),
		url(/site_media/img/37-a.png), url(/site_media/img/59-a.png),
		url(/site_media/img/53-a.png);
	padding: 0;
	margin: 0;
	height: 100px;
	border-bottom: 1px solid white;
}

#header-txt {
	color: #F2ECEC;
	font-size: 40px;
	line-height: 100px;
	padding: 0px 10px;
}

#header-txt h1 {
	display: inline-block;
}

#header-txt a {
	color: white;
	background-color: #954747;
	text-shadow: 0 2px 0px black;
}

.shadow-dark {
	text-shadow: -1px -2px 5px black;
}

#content p {
	padding: 20px 10px;
	line-height: 22px;
}

#content p:first-letter {
	font-size: 32px;
	color: #954747;
	font-weight: bold;
	text-shadow: 0 1px 0px white;
}

#content .description {
	color: #ACA6A6;
	text-shadow: 0 1px 0px white;
}

#content ul {
	list-style-type: none;
	margin-left: 0px;
}

#content li {
	border-bottom: 1px solid white;
	padding: 10px 0px;
}

#content div.technology {
	font-size: 12px;
}

#content div.technology h2,ul {
	display: inline;
}

#content div.technology li {
	border-bottom: 0px;
	display: inline;
}

#content h1 {
	padding: 10px 0px;
	font-size: 20px;
	text-shadow: 0 1px 0px white;
}

#projects,#team {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.inner {
	padding: 0px 10px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

.footer,.push {
	height: 30px;
	clear: both;
}

.error {
	text-align: center;
}

#darthkitty {
	-moz-box-shadow: 1px 1px 10px black;
	-webkit-box-shadow: 1px 1px 10px black;
	box-shadow: 1px 1px 10px black;
}

#footer {
	background-color: #444546;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: white;
	text-shadow: none;
}

::-moz-selection {
	background: #954747;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #954747;
	color: #fff;
	text-shadow: none;
}